.gradle/
.idea/
build/
gradle/
node_modules/
target/
__init__.py
build.gradle.kts
Cargo.lock
Cargo.toml
gradlew
gradlew.bat
main.py
package.json
package-lock.json
requirements.txt
settings.gradle.kts
tsconfig.json
yarn.lock
src/
*.py
*.cpp
old/
